*{
    margin: 0;
    font-family: 'Sora', sans-serif;
}
#body{
    background-image: url("images/clear-d.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    height: 100vh;
}
#main{
    margin-top: 10vh;
    padding: 0px 25px;
    height: 100vh;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#main-heading{
    margin: 5px 0px 0px 0px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-size: medium;
}
#sub-heading{
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    font-size: smaller;
}
#weather-form{
    margin : 0.75em 0;
}
form{
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  flex-wrap: nowrap;
}
#city-name{
    font-family: 'Exo', sans-serif;
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
    color: black;
    padding: 7px;
    background: transparent;
    transition: border-color 0.2s;
}
#city-name:focus, #city-name::selection{
    background: transparent;
}
#submit-btn{
    border:  0;
    background: transparent;
    margin: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.15s ease 0s;
}
#submit-btn:hover{
    transform: scale(1.15);
}
#city{
    padding: 0.5rem 0;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: medium;
}
#temp{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 3rem;
}
#condition{
    font-weight: 600;
}
::placeholder{
    color: inherit;
}

#bg-detail{
    min-width: 330px;
    max-width: 800px;
    flex-wrap: wrap;
}
#details{
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    min-width: 100px;
    max-width: 200px;
    margin: 20px auto;
    flex-wrap: wrap;
}
.detail-item{
    margin: 0.25rem;
    font-size: small;
}
#min-max-row{
    width: 160px;
    font-size: small;
}
.icon{
    width: 1.1rem;
    object-fit: contain;
    padding-right: 8px;
}
.icon-sm{
    width: 0.75rem;
    object-fit: contain;
}


@media (min-width: 850px) {
    #main-heading{
        font-size: 1.75rem;
    }
    #sub-heading{
        font-size: 1rem;
    }
}

/* @media (max-width: 500px) {
    #main-heading{
        font-size: 1rem;
    }
    #sub-heading{
        font-size: 0.6rem;
    }
    #city{
        font-size: 0.5rem;
    }
    #temp{
        font-size: 2.5rem;
    }
} */